.template-wrap {
  padding: 1rem;
  border-bottom: solid 1px #ebebeb;

  .title {
    font-size: 20px;
  }
}

:host ::ng-deep .search-box-wrap .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
