.alert_dialog_wrap {
  width: 100%;
  padding: 2rem 2rem 0.5rem;

  .alert_dialog_title {
    font-size: 24px;
    line-height: normal;
    text-align: center;
    margin-bottom: 1rem;
  }

  .alert_dialog_comment {
    font-size: 16px;
    line-height: normal;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .alert_dialog_button_wrap {
    button {
      width: 120px;
      margin: 0.5rem;
    }
  }
}
