<mat-sidenav-container>
  <mat-sidenav
    *ngIf="mediaService.isMobile()"
    [opened]="false"
    [mode]="'over'"
    #sidenav
    class="sidenav mat-elevation-z6"
  >
    <mat-toolbar fxLayoutAlign="space-between center" class="sidenav-header">
      <a class="logo" style="display: flex" routerLink="/" (click)="closeSubMenus()">
        <img class="logo-wrap" src="assets/icons/logo.png" alt="logo" />
      </a>
    </mat-toolbar>

    <div fxLayout="column" fxLayoutAlign="center center" class="user-block transition-2" [class.show]="true">
      <div fxLayout="column" fxLayoutAlign="start center" class="user-info-wrapper">
        <img
          [src]="user?.profilePicture ? serverUrl + '/' + user?.profilePicture : 'assets/images/user.svg'"
          alt="user-avatar"
        />
        <h4>{{ user?.firstName }}</h4>
      </div>
    </div>

    <perfect-scrollbar #sidenavPS class="sidenav-menu-outer">
      <app-vertical-menu [menuParentId]="0" (onClickMenuItem)="updatePS()"> </app-vertical-menu>
    </perfect-scrollbar>
    <div class="sidenav-bottom-menu">
      <a mat-button class="bottom-menu" (click)="logout(); toggleSidenav()">
        <mat-icon>power_settings_new</mat-icon> Logout
      </a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content id="main">
    <div class="app-wrapper">
      <header>
        <mat-toolbar>
          <div class="container d-flex justify-content-between align-items-center">
            <div>
              <a routerLink="/">
                <img class="logo-wrap" src="assets/icons/logo.png" alt="logo" />
              </a>
            </div>

            <div class="d-flex align-items-center">
              <app-horizontal-menu [menuParentId]="0" *ngIf="!mediaService.isMobile()" class="pe-4">
              </app-horizontal-menu>

              <ng-container *ngIf="authService.isAuthenticated(); else notAuthenticated">
                <mat-menu #userMenu="matMenu">
                  <button routerLink="/pricing" mat-menu-item>Pricing</button>
                  <button (click)="logout()" mat-menu-item>Logout</button>
                </mat-menu>
                <button
                  color="primary"
                  class="no-hover-effect d-none d-md-inline-flex"
                  mat-button
                  disableRipple
                  [matMenuTriggerFor]="userMenu"
                >
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <div
                      class="avatar me-3"
                      [style.background-image]="
                        user?.profilePicture
                          ? 'url(' + serverUrl + '/' + user?.profilePicture + ')'
                          : 'url(assets/images/user.svg)'
                      "
                    ></div>
                    <small class="">{{ user?.firstName }}</small>
                  </div>
                </button>
                <button
                  *ngIf="mediaService.isMobile()"
                  mat-icon-button
                  [ngClass]="{ 'is-active': !menuHidden }"
                  (click)="toggleSidenav()"
                >
                  <mat-icon>menu</mat-icon>
                </button>
              </ng-container>

              <ng-template #notAuthenticated>
                <div class="d-none d-md-flex" fxLayout="row" fxLayoutAlign="start center">
                  <button class="mr-1" routerLink="/login" mat-button>Log in</button>
                  <button class="mr-1" routerLink="/signup" color="accent" mat-stroked-button>Sign Up</button>
                  <a routerLink="/pricing" mat-button>Pricing</a>
                </div>
                <mat-menu #authMenu="matMenu">
                  <button routerLink="/signup" mat-menu-item>Sign Up</button>
                  <button routerLink="/login" mat-menu-item>Log in</button>
                  <a routerLink="/site/how" mat-menu-item>How it works</a>
                </mat-menu>
                <button class="d-md-none" mat-icon-button [matMenuTriggerFor]="authMenu">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </ng-template>
            </div>
          </div>
        </mat-toolbar>
      </header>

      <div class="app-content-wrap">
        <div class="container main-page-wrap">
          <router-outlet></router-outlet>
        </div>
      </div>

      <div class="sticky-footer-wrap">
        <footer>
          <mat-toolbar fxLayout="column" fxLayoutAlign="center" color="primary">
            <div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="center center">
              <div class="footer-main" fxLayout="row wrap" fxLayoutAlign="center center">
                <div><a routerLink="/site/about">About</a></div>
                <div><a routerLink="/site/how">How it works</a></div>
                <div>
                  <a routerLink="/site/investor" [ngClass]="{ 'border-none': mediaService.isMobile() }"
                    >Investor Relations</a
                  >
                </div>
              </div>
              <div class="footer-main" fxLayout="row wrap" fxLayoutAlign="center center">
                <div><a routerLink="/site/terms">Terms of Service</a></div>
                <div><a routerLink="/site/privacy">Privacy Policy</a></div>
                <div><a routerLink="/site/cookie" class="border-none">Cookie Policy</a></div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" class="copyright-wrap">
              <small class="copyrights">&copy; Dev Pony 2023-2023</small>
            </div>
          </mat-toolbar>
        </footer>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
